@model Role
@{
    ViewData["Title"] = "Created Role";
}

<h1>Create new Role</h1>
<br />
<br />
<div class="row">
    <div class="col-6">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="Create" method="post" asp-controller="Role">
            <partial name="PartialViews/CreateEditPartialView" model="@Model" />
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light">Back To List</a>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}